@model TheEviction.Entities.Models.Client

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_NewClient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientNum" class="control-label"></label>
                <input asp-for="ClientNum" class="form-control" />
                <span asp-validation-for="ClientNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyTypeId" class="control-label"></label>
                <select asp-for="CompanyTypeId" class ="form-control" asp-items="ViewBag.CompanyTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FacilityId" class="control-label"></label>
                <select asp-for="FacilityId" class ="form-control" asp-items="ViewBag.FacilityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AddressId" class="control-label"></label>
                <select asp-for="AddressId" class ="form-control" asp-items="ViewBag.AddressId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContactId" class="control-label"></label>
                <select asp-for="ContactId" class ="form-control" asp-items="ViewBag.ContactId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PhoneId" class="control-label"></label>
                <select asp-for="PhoneId" class ="form-control" asp-items="ViewBag.PhoneId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CountyId" class="control-label"></label>
                <select asp-for="CountyId" class ="form-control" asp-items="ViewBag.CountyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActiveFlg" /> @Html.DisplayNameFor(model => model.IsActiveFlg)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IsOfficeAccessFlg" class="control-label"></label>
                <input asp-for="IsOfficeAccessFlg" class="form-control" />
                <span asp-validation-for="IsOfficeAccessFlg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDt" class="control-label"></label>
                <input asp-for="CreatedDt" class="form-control" />
                <span asp-validation-for="CreatedDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDt" class="control-label"></label>
                <input asp-for="ModifiedDt" class="form-control" />
                <span asp-validation-for="ModifiedDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
