<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Landlord and Tenant Practice</title>
    
        <!-- Latest compiled and minified CSS Bootstrap v3.3.7. There's something wrong with Bootstrap v4.1.0 and Carrousel -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <!-- This is bootswatch v3.3.7 -->
        <link rel="stylesheet" href="~/lib/dist/bootswatch/yeti/bootstrap.min.css" />
        <!-- Font Awesome-->
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <!-- CSS dataTables-->
        <link rel="stylesheet" href="~/lib/datatables/media/css/jquery.dataTables.min.css" />
        <environment include="Development">
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
    <environment exclude="Development">
        <link href="~/lib/_app/site.css" rel="stylesheet" />
    </environment>
       
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div id="main" class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">LTPA</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Washington FED</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Oregon FED</a></li>
                    <li><a asp-area="" asp-controller="Client" asp-action="Index">Clients</a></li>
                </ul>
                <span class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</span>
                <ul class="nav navbar-nav navbar-right" style="margin-top:5px;">
                    <li>
                        <a href="#" class="btn btn-sm btn-info">
                            <i class="fa fa-save"></i> Save
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-sm btn-info">
                            <i class="fa fa-print"></i> Print
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div>
            @RenderBody()
        </div>
        <hr />
        <div id="footer" class="container-fluid">
            <footer>
                <div class="navbar navbar-inverse navbar-fixed-bottom">
                    <h4 class="text-center text-info">&copy; 2018 - The Tenant and Landlord Practice</></h4>
                </div>
            </footer>
        </div>
    </div>

    <environment include="Development,Production,Staging">
        <!--  jQuery v2.2.0 -->
        @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
        <!-- jQuery v3.3.1 -->
        <script src="~/lib/dist/jquery/jquery.min.js"></script>
        <!-- Bootstrap v3.3.7 -->
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <!--JS dataTable 1.10.13-->
        <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
    </environment>
    <environment exclude="Development">
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
